footer {
	background: #242424;
	color: #f7f7f7;
	padding: 15px 0;

	.technologies, .copyright {
		text-align: center;
	}
}

@media(min-width: 768px) {
	footer {
		.copyright {
			text-align: left;
		}
		.technologies {
			text-align: right;
		}
	}
}